<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <title>Vue avec le CDN</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
  <div id="app">
    <div class="navbar"></div>

    <div class="cart">Panier {{cart}}</div>

    <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <a v-bind:href="url">
            <img v-bind:src="image" alt="chaussettes">
          </a>
        </div>
        <div class="product-info">
          <h1>{{product}}</h1>
          <p v-if="inStock">En stock</p>
          <p v-else>Rupture</p>
          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>
          <p>Existe en:</p>
          <div v-for="variant in variants" :key="variant.id" @mouseOver="changeImg(variant.image)">{{variant.color}}</div>
          <button v-on:click="addToCart" class="button">Ajouter au panier</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Import Js -->
  <script src="./main.js"></script>

  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>